@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/*mobile*/

:root{
    --primary-pink-clr: hsl(322, 100%, 66%);
    --primary-pink-opa-clr: hsla(322, 100%, 66%, 0.5);

    --neutral-pale-cyan-clr: hsl(193, 100%, 96%);
    --neutral-dark-cyan-clr: hsl(192, 100%, 9%);
    --neutral-grayish-blue-clr: hsl(208, 11%, 55%);

    --neutral-white-opa-clr: hsla(0, 0%, 100%, 0.75);  
    --neutral-white-opa090-clr: hsla(0, 0%, 100%, 0.80);  
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    border: none;
}

body{
    background-image: url(bg-hero-mobile.svg);
    background-color: var(--neutral-pale-cyan-clr);
    background-size: certain;
    background-position: top 200px left;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.logo-img{
    min-width: 30%;
    max-width: 30%;
}

.header a{
    text-decoration: none;
    color: var(--neutral-dark-cyan-clr);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 1px 1px 3px 0 var(--neutral-grayish-blue-clr);
    transition: 0.5s;
}

.header a:hover{
    color: var(--neutral-grayish-blue-clr);
}

.mockup-container{
    text-align: center;
    margin: 2.5rem 2rem;
    font-family: 'Open Sans', sans-serif;
}

.mockup-container div h1{
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.text-1{
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 1.9rem;
}

.mockup-btn{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 3rem;
    background-color: var(--primary-pink-clr);
    box-shadow: 1px 1px 3px 0 var(--neutral-grayish-blue-clr);
    border-radius: 2rem;
    transition: 0.5s;
}

.mockup-btn:hover{
    color: var(--neutral-white-opa-clr);
    background-color: var(--primary-pink-opa-clr);
}

.mockup-img-container{
    margin-top: 2.5rem;
}

.mockup-img{
    width: 100%;
}

.features{
    text-align: center;
    padding: 2.5rem 2rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.illustration-grow-together, .illustration-flowing-conversation, .illustration-your-users{
    width: 100%;
}

.grow-together, .flowing-conversation{
    margin-bottom: 2rem;
}

.container{
    background-color: #fff;
    border-radius: 0.7rem;
    box-shadow: 4px 4px 9px 9px whitesmoke;
    padding:2.5rem 2rem;
}

.h2-text{
    margin-top: 2rem;
    font-size: 1.2em;
}

.feature-text{
    font-size: 0.9em;
    color: var(--neutral-grayish-blue-clr);
    font-weight: 500;
    margin-top: 1rem;
}

.container-2{
    background-color: #fff;
    border-radius: 0.7rem;
    box-shadow: 1px 1px 4px 0 var(--neutral-grayish-blue-clr);
    padding: 0.5rem 0.5rem 2.5rem 0.5rem;
    font-size: 0.9em;
    position: relative;
    max-width: 483px;
    margin: 0 auto;
    top: 7rem;
}

.container-2 h2{
    margin-bottom: 2rem;
}

.footer{
    background-color: var(--neutral-dark-cyan-clr);
    color: var(--neutral-white-opa090-clr);
    padding: 2.5rem 1rem;
    font-family: 'Open Sans', sans-serif;
}

.footer .flex-container div .footer-logo-img{
    filter: grayscale(100%) brightness(200%);
    margin-top: 4.5rem;
    min-width: 30%;
    max-width: 30%;
}

.flex-icon{
    display: flex;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.flex-icon p{
    margin-left: 1rem;
    position: relative;
    bottom: 0.2rem;
}

.margin-bottom{
    margin-bottom: 2rem;
}

.first-three, .last-three{
    display: flex;
    flex-direction: column;
}

.first-three a .last-three, a{
    text-decoration: none;
    color: var(--neutral-white-opa090-clr);
    transition: 0.5s;
}

.margin-top{
    margin-top: 1rem;
}

.first-three a:hover{
    text-decoration: underline;
}

.last-three a:hover{
    text-decoration: underline;
}

.social-copyright{
    text-align: center;
}

.social{
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.social-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.social-icon{
    font-size: 0.8em;
}

.social-icon-box:hover{
    border-color: var(--primary-pink-clr);
    color: var(--primary-pink-clr)
}

.rights{
    font-size: 0.7em;
}

/*tablet*/
@media (min-width: 768px){
    .logo-img{
        min-width: 20%;
        max-width: 20%;
    }

    .mockup-container{
        display: flex;
        align-items: center;
        text-align: initial;
        gap: 2rem;
    }

    .text-container{
        max-width: 30%;
        font-size: 1em;
        margin-right: 3rem;
    }

    .text-container h1{
        font-size: 1.6em;
    }

    .mockup-btn{
        padding: 0.5rem 2rem;
    }

    .container{
        display: flex;
        text-align: initial;
        align-items: center;
        justify-content: space-around;
    }

    .grow-together, .your-user{
        flex-direction: row-reverse;
    }
    }

    /*desktop*/
    @media (min-width: 1024px){
    body{
         background-image: url(bg-hero-desktop.svg);
                background-size: 100% auto;
    }

    .mockup-container{
        gap: 3rem;
    }   
    
    .text-container{
        margin-left: 1rem;
    }

    .text-1{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .header a{
        padding: 0.5rem 2.5rem;
    }

    .container{
        gap: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        flex: 1;
        min-width: 0;

    }

    .illustration-grow-together{
        flex-basis: 30%;
        max-width: 30%;
    }

    .texts-container{
        flex-basis: 40%;
        max-width: 40%;
    }

    .illustration-flowing-conversation{
        flex-basis: 30%;
        max-width: 30%;
    }

    .illustration-your-users{
        flex-basis: 30%;
        max-width: 30%;
    }

    .flex-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    
    .flex{
        min-width: 35%;
        max-width: 35%;
    }

    .inner-flex{
        display: flex;
        justify-content: space-around;
        gap: 6rem;
        margin-bottom: 1rem;
    }

    .social{
        justify-content: initial;
    }

    .social-icon-box{
        margin-bottom: 4.5rem;
    }

    .rights{
        position: relative;
        top: 2.5rem;
    }
    }


